@use "variaveis";

.footer {
    padding: 26px 8px;

    &__container {
        max-width: 1024px;
        width: 100%;
        padding-bottom: 20px;
        margin: 0 auto;
        text-align: center;
    }

    &__logo {
        width: 80px;
        margin: 0 auto 10px;
    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;


        &__item {
            display: inline-block;

            a {
                text-decoration: none;
                padding: 8px 16px;
                display: block;

                &:hover {
                    color: variaveis.$corTextoSecundario;
                }
            }
        }
    }

    p {
        margin-bottom: 16px;
    }

}

.language-selector {
    display: flex;
    align-items: center;

    img {
        height: 18px;
        width: 18px;
    }

    select {
        border: none;
        color: variaveis.$corTextoPrincipal;
        background-color: variaveis.$corDeFundo;
        height: 38px;

        &:hover {
            color: variaveis.$corTextoSecundario;
        }
    }
}