@use "variaveis";

.header {
    position: sticky;
    top: 0;
    right: 0;
    background-color: variaveis.$corDeFundo;
    z-index: 3;
    transition: background-color .5s ease;

    &--is-hidden {
        background-color: transparent;
        transition: background-color .5s ease;


        .header {

            &__logo,
            &__links__item:first-child {
                visibility: hidden;
                opacity: 0;
                transition: opacity .5s ease, visibility .5s ease;
            }
        }
    }

    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;

        @media (max-width:768px) {
            padding: 0 12px 0 20px;
        }


    }

    &__logo {
        max-width: 80px;
        width: 100%;
        margin: 5px;
        transition: opacity .5s ease;

        @media (max-width:768px) {
            max-width: 64px;
        }
    }

    &__links {
        display: flex;
        list-style: none;

        &__item {
            margin: 5px;
        }
    }


    .button {
        height: 50px;

        @media (max-width: 768px) {
            font-size: 13px;
            padding: 8px 11px;
            height: 40px;
            letter-spacing: 0;
        }
    }
}