@use "reset";
@use "hero";
@use "variaveis";

//mixin
@mixin text($font-size: 16px) {
    font-size: $font-size;
    line-height: $font-size+10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin tittle($font-size: 40px) {
    @include text($font-size);
    color: variaveis.$CorTextoSecundario;
}

//mixin

body {
    background-color: variaveis.$corDeFundo;
}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.tittle--big {
    @include tittle(44px);
}

.tittle {
    @include tittle;
}

.tittle--small {
    @include tittle(28px);
}

.link-text {
    @include text(18px);
    color: variaveis.$CorTextoSecundario;
    text-decoration: underline;
}