@use "reset";
@use "hero";
@use "variaveis";
@use "shows";
@use "plans";
@use "available-devices";
@use "faq";
@use "footer";
@use "header";
@use "sass:color";

//mixin
@mixin text($font-size: 16px) {
    font-size: $font-size;
    line-height: $font-size+10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin tittle($font-size: 40px) {
    @include text($font-size);
    color: variaveis.$corTextoSecundario;
}

//mixin

body {
    background-color: variaveis.$corDeFundo;
}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.tittle--big {
    @include tittle(44px);
}

.tittle {
    @include tittle;
}

.tittle--small {
    @include tittle(28px);
}

.link-text {
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$corTextoSecundario;
    background-color: variaveis.$corDeFundoBotaoPrimario;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid variaveis.$corDeFundoBotaoPrimario;

    &:hover {
            background-color: color.scale(variaveis.$corDeFundoBotaoPrimario, $lightness: 15%);
        }

    &--secondary {
        background-color: variaveis.$corDeFundoBotaoSecundario;
        border-color: variaveis.$corDeFundoBotaoSecundario;

        &:hover {
            background-color: color.scale(variaveis.$corDeFundoBotaoSecundario, $lightness: 15%);
        }
    }

    &--dark {
        background-color: rgba(variaveis.$corDeFundoBotaoDark, 0.8);
        border-color: variaveis.$corTextoSecundario;

        &:hover {
            background-color: variaveis.$corTextoSecundario;
            color: variaveis.$corDeFundoBotaoDark;
        }
    }
}

.image-text-section {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;


    img {
        max-width: 100%;
    }

    &__text_container {
        padding: 2vw;

        h2 {
            margin-bottom: 24px;
        }

        .text--big {
            text-align: justify;
        }
    }

    &--image-full-width {
        display: block;
        position: relative;

        img {
            width: 100%;
        }
    }

    &--image-full-width__text_container {
        position: absolute;
        left: 50%;
        top: 0vw;
        height: 100%;
        width: calc(50% - 5.6vw);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}